@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.color-primary {
  color: #5534A5;
}

.color-primary-dark {
  color: #141522;
}

.color-black {
  color: #000000;
}

.color-dark {
  color: #0D062D !important;
}

.color-secondary {
  color: #757575;
}

.color-danger {
  color: #FF4D5E;
}

.color-label-green {
  color: #159E00;
}

.bg-white {
  background-color: #ffffff;
  background: #ffffff;
}

.bg-primary {
  background-color: #5534A5 !important;
}

.bg-primary-light01 {
  background-color: #DDD6ED;
}

.bg-gray-light {
  background-color: #F9F9F9 !important;
}

.bg-primary-light {
  background-color: #F1EEF6 !important;
}

.bg-secondary-light {
  background-color: #D9E1E7 !important;
}

.bg-primary-dark {
  background-color: #141522 !important;
}

.bg-danger {
  background-color: #FF4D5E !important;
}

.border {
  border: 1px solid #EAEAEA !important;
}

.border-form-color {
  border: 1px solid #BCBCBC !important;
}

.border-theme {
  border: 1px solid #5534A5 !important;
}

.border-white {
  border: 1px solid #ffffff !important;
}

.font-primary {
  font-family: "Poppins", sans-serif !important;
}

.text-14 {
  font-size: 14px;
  font-weight: 18px;
}

.rounded-8 {
  border-radius: 8px;
}

.rounded-10 {
  border-radius: 10px;
}

.rounded-14 {
  border-radius: 14px;
}

.object-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-fit-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}

.px--12 {
  padding: 0px 12px;
}

.h-lg-50 {
  height: 50%;
}
@media (max-width: 1199.98px) {
  .h-lg-50 {
    height: auto;
  }
}

.lext-limited {
  max-height: 36px;
  overflow: hidden;
}

.icon {
  display: block;
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.icon--dashboard {
  background-image: url("../image/v4/icon/dash.svg");
}
.icon--planner {
  background-image: url("../image/v4/icon/calendar.svg");
}
.icon--meeting {
  background-image: url("../image/v4/icon/meeting.svg");
}
.icon--club {
  background-image: url("../image/v4/icon/activities.svg");
}
.icon--study {
  background-image: url("../image/v4/icon/study.svg");
}
.icon--settings {
  background-image: url("../image/v4/icon/cog.svg");
}
.icon--logout {
  background-image: url("../image/v4/icon/logout.svg");
}
.icon--notification {
  background-image: url("../image/v4/icon/notification-bell.svg");
}
.icon--school {
  background-image: url("../image/v4/icon/school.svg");
}
.icon--home {
  background-image: url("../image/v4/icon/home.svg");
}
.icon--appoinments {
  background-image: url("../image/v4/icon/appoinments.svg");
}
.icon--availability {
  background-image: url("../image/v4/icon/availability.svg");
}
.icon--advisor {
  background-image: url("../image/v4/icon/advisor.svg");
}
.icon.icon-xs {
  width: 0.875rem;
  min-width: 0.875rem;
  height: 0.875rem;
}
.icon.icon-sm {
  width: 1.125rem;
  min-width: 1.125rem;
  height: 1.125rem;
}
.icon.icon-md {
  width: 1.25rem;
  min-width: 1.25rem;
  height: 1.25rem;
}
.icon.icon-lg {
  width: 1.875rem;
  min-width: 1.875rem;
  height: 1.875rem;
}

.nav-link.nuxt-link-active .icon--dashboard, .nav-link:hover .icon--dashboard {
  background-image: url("../image/v4/icon/dash-active.svg");
}
.nav-link.nuxt-link-active .icon--home, .nav-link:hover .icon--home {
  background-image: url("../image/v4/icon/home-active.svg");
}
.nav-link.nuxt-link-active .icon--appoinments, .nav-link:hover .icon--appoinments {
  background-image: url("../image/v4/icon/appoinments-active.svg");
}
.nav-link.nuxt-link-active .icon--availability, .nav-link:hover .icon--availability {
  background-image: url("../image/v4/icon/availability-active.svg");
}
.nav-link.nuxt-link-active .icon--advisor, .nav-link:hover .icon--advisor {
  background-image: url("../image/v4/icon/advisor-active.svg");
}
.nav-link.nuxt-link-active .icon--settings, .nav-link:hover .icon--settings {
  background-image: url("../image/v4/icon/cog-active.svg");
}
.nav-link.nuxt-link-active .icon--logout, .nav-link:hover .icon--logout {
  background-image: url("../image/v4/icon/logout-active.svg");
}
.nav-link.accordion-link.active .icon--planner, .nav-link.accordion-link:not(.collapsed) .icon--planner, .nav-link.accordion-link:hover .icon--planner {
  background-image: url("../image/v4/icon/calendar-active.svg");
}
.nav-link.accordion-link.active .icon--meeting, .nav-link.accordion-link:not(.collapsed) .icon--meeting, .nav-link.accordion-link:hover .icon--meeting {
  background-image: url("../image/v4/icon/meeting-active.svg");
}
.nav-link.accordion-link.active .icon--club, .nav-link.accordion-link:not(.collapsed) .icon--club, .nav-link.accordion-link:hover .icon--club {
  background-image: url("../image/v4/icon/activities-active.svg");
}
.nav-link.accordion-link.active .icon--study, .nav-link.accordion-link:not(.collapsed) .icon--study, .nav-link.accordion-link:hover .icon--study {
  background-image: url("../image/v4/icon/study-active.svg");
}/*# sourceMappingURL=icon.css.map */