$dark-theme:#FF4E71;
$theme-color: #FF6D6D;
$icon-bg-green:#4AC55E;
$border-color:#424246;
$selected-color:#FF6D6D;
$head-theme-color:#FF6F69;
$icon-color:#D7F9FF;
$cal-border:#5B5B5E;
$confirm-green: #86FD97;
$white:#ffffff;
$black:#000000;
// element color

$global-background-color : rgba($color: $white, $alpha: 0.45);
$global-sidebar-bg:#2D2D2F;
$Global-background-element: rgba($color: $white, $alpha: 0.45);
$global-box-shadow: rgba($color: $white, $alpha: 0.45);

$priority-low: #F6D73C;
$priority-medium: #00CCA0;
$priority-high: #EF382E;

// font color
$global-font-color : #F9F9F9;
$font-label-color : #B4B4B4;
$timer-label: #707070;

// font
$text-style: 'Poppins', sans-serif;
$logo-text-style: 'Montserrat',  sans-serif;
