$dark-theme        : #FF4E71;
$theme-color       : #FF6D6D;
$icon-bg-green     : #4AC55E;
$border-color      : #f0f0f0;
$selected-color    : #FF6D6D;
$head-theme-color  : #FF6F69;
$icon-color        : #D7F9FF;
$cal-border        : #f0f0f0;
$confirm-green     : #86FD97;
$white             : #ffffff;
$black             : #000000;
$text-dark         : #431F1C;
$text-secondary    : #C5C0BD;
// element color
@mixin jochi-components-light-bg{
    background-color: rgba($color: $white, $alpha: 0.45);
    box-shadow: 0px 0px 40px 7px rgba($color: #ff7c7c, $alpha: 0.22);
    border-radius: 22px;
    border: 1px solid $white;
}
@mixin jochi-components-bg {
    box-shadow: 0px 0px 8px -4px rgb(0 1 0 / 25%);
    border: 1px solid $white;
}
@mixin jochi-sub-components-light-bg{
    background-color: rgba($color: $white, $alpha: 0.45);
    box-shadow: 0px 0px 32px -4px rgba($color: #000100, $alpha: 0.09);
    border-radius: 22px;
}


$global-background-color : rgba($color: $white, $alpha: 0.45);
$global-sidebar-bg:#2D2D2F;
$Global-background-element: rgba($color: $white, $alpha: 0.45);
$global-box-shadow: rgba($color: $white, $alpha: 0.45);

$priority-low: #F6D73C;
$priority-medium: #00CCA0;
$priority-high: #EF382E;

$label-green: #159E00;

// font color
$global-font-color : #F9F9F9;
$font-label-color : #B4B4B4;
$timer-label: #707070;

// font
$text-style: 'Poppins', sans-serif;
$logo-text-style: 'Montserrat',  sans-serif;

// Responsive Screens
$hd-screen           : 1700px;
$xl-screen           : 1399.98px;
$lg-screen           : 1199.98px;
$md-screen           : 991.98px;
$sm-screen           : 767.98px;
$min-sm-screen       : 768px;
$xs-screen           : 575.98px;
$min-md-screen       : 992px;
$min-lg-screen       : 1200px;
$max-xs-screen       : 575px;

$touchdevice         :1024px;

$lg-screen-h         : 1080px;
$lg-screen-h         : 1079.98px;
$md-screen-h         : 1023.98px;
$sm-screen-h         : 767.98px;

// Border Radius
@mixin borderRadius ($br) {
    @if $br==0 {
        border-radius: 0;
    }
    @else if $br==1 {
        border-radius: 1px;
    }
    @else if $br==2 {
        border-radius: 2px;
    }
    @else if $br==3 {
        border-radius: 3px;
    }
    @else if $br==4 {
        border-radius: 4px;
    }
    @else if $br==5 {
        border-radius: 5px;
    }
    @else if $br==6 {
        border-radius: 6px;
    }
    @else if $br==8 {
        border-radius: 8px;
    }
    @else if $br==10 {
        border-radius: 10px;
    }
    @else if $br==12 {
        border-radius: 12px;
    }
    @else if $br==15 {
        border-radius: 15px;
    }
    @else if $br==20 {
        border-radius: 20px;
    }
    @else if $br==25 {
        border-radius: 25px;
    }
    @else if $br==30 {
        border-radius: 30px;
    }
    @else if $br==40 {
        border-radius: 40px;
    }
    @else if $br==round {
        border-radius: 50%;
    }
}

// Calendar

@mixin calendar-sm{
    .fc.fc-media-screen.fc-direction-ltr.fc-theme-standard{
        .fc-header-toolbar.fc-toolbar{
            justify-content: center;
            h2.fc-toolbar-title{
                font-size: 0.8em !important;
                font-weight: 500;
                color: $global-font-color;
                background-color: $head-theme-color;
                padding: 0.4em 0.65em;
                min-height: 20px;
                white-space: nowrap;
                width: fit-content;
            }
            button.fc-button.fc-button-primary{
                background-color: $border-color;
                color: $global-font-color;
                &:hover{
                    border: none;
                    color: $theme-color;
                }
                span.fc-icon{
                    position: relative;
                    top: -0.35rem;
                }
            }
            button.fc-next-button.fc-button.fc-button-primary{
                border-radius: 0px 50px 50px 0px;
                min-height: 20px;
            }
            button.fc-prev-button.fc-button.fc-button-primary{
                border-radius:50px 0px 0px 50px;
                min-height: 20px;
            }
        }
    }
    .fc-view-harness.fc-view-harness-active{
        height: 40vh !important;
        min-height: 276px;
        // height: 331.185px  !important;
        // @media (min-width:1396.98px) {
        //     height: 191.185px !important
        // }
        // @media (max-width:1396.98px) {
        //     height: 185.185px !important
        // }
        // @media (max-width:1200.98px) {
        //     height:178.185px !important
        // }
        // @media (max-width:1070.98px) {
        //     height: 165.185px !important;
        // }
        // @media (max-width:786.98px) {
        //     height: 152.185px !important
        // }
        .fc-daygrid.fc-dayGridMonth-view.fc-view{
            table.fc-scrollgrid.fc-scrollgrid-liquid{
                tr.fc-scrollgrid-section.fc-scrollgrid-section-header{
                    th{
                        border-right: none;
                        .fc-scroller-harness{
                            .fc-scroller{
                                overflow: unset !important;
                            }
                            table.fc-col-header{
                                border-bottom: hidden;
                                th{
                                    border-right: 1px solid $cal-border !important;
                                    &:nth-child(7){
                                        border-right: none;
                                    }
                                }
                                .fc-scroller{
                                    border-right: hidden;
                                }
                                a.fc-col-header-cell-cushion{
                                    color: $font-label-color;
                                    font-size: 0.65rem;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
                border: none;
                thead,tbody{
                    color: $font-label-color;
                    td{
                        border: none;
                        .fc-scroller{
                            overflow: hidden !important;
                        }
                        th.fc-col-header-cell.fc-day{
                            font-weight: 500;
                            border-bottom: 1px solid $cal-border !important;
                            border-right: 1px solid $cal-border !important;
                            &:last-child{
                                border-right: none !important;
                            }
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            border-top: 1px solid $cal-border;
                            border-right: 1px solid $cal-border !important;
                            border-bottom: none !important;
                            &:last-child{
                                border-right: none !important;
                            }
                            
                            table.fc-scrollgrid-sync-table{
                                height: 133px !important;
                                display: inline-table !important;
                            }
                            .fc-scroller.fc-scroller-liquid-absolute{
                                overflow: hidden !important;
                            }
                            .fc-daygrid-day-frame.fc-scrollgrid-sync-inner{
                                cursor: pointer;
                                &:hover{
                                    background-color: $cal-border !important;
                                }
                                .fc-daygrid-day-events{
                                    display: none;
                                }

                            }
                            a.fc-daygrid-event.fc-daygrid-block-event.fc-h-event.fc-event.fc-event-start.fc-event-end.fc-event-past{
                                background-color: $font-label-color;
                                border-color: $font-label-color;
                                .fc-event-main{
                                    color: $border-color !important;
                                }
                            }
                        }
                        td.fc-daygrid-day.fc-day.fc-day-today{
                            background-color: $theme-color;
                        }
                        .fc-highlight {
                            background: $font-label-color !important;
                        }
                    }
                }
            }
        }
    }
}

// table

@mixin customTable {
    table{
        border-collapse: separate;
        border-spacing: 0 12px;
        thead{
            tr{
                td{
                    // color: $global-font-color;
                    font-size: 0.8rem;
                    border-top: none;
                    border-bottom: 1px solid $border-color;
                    padding: 5px 10px;
                }
            }
        }
        tbody{
            tr{
                @include jochi-components-bg();
                @include borderRadius(12);
                td{
                    text-transform: capitalize;
                    // color: $text-dark;
                    font-size: 0.7rem;
                    padding: 10px;
                    border-top: none;
                    // border-bottom: 1px solid $border-color;
                    // border-top: 1px solid $border-color;
                    vertical-align: middle;
                    // &:first-child{
                    //     border-left: 1px solid $border-color;
                    //     border-top-left-radius: 0.5rem;
                    //     border-bottom-left-radius: 0.5rem;
                    // }
                    // &:last-child{
                    //     border-right: 1px solid $border-color;
                    //     border-top-right-radius: 0.5rem;
                    //     border-bottom-right-radius: 0.5rem;
                    // }
                    .comment-icon{
                        font-size: 1.3rem;
                        color: $icon-color;
                    }
                    .btn{
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}