.inner-slot{
    span{
        display: inline-flex;
        justify-content: center;
        min-width: 25%;
        .badge-color{
            padding: .73rem .75rem;
            margin: .3rem .3rem;
            font-size: .8rem;
            font-weight: 450;
            color: $font-secondary-light;
            cursor: pointer;
            width: 100%;
            @media (max-width: 1396.98px) {
                font-size: 0.7rem;
                padding: .57rem .45rem;
                margin: .4rem .4rem;
            }
            @media (max-width: 1200.98px) {
                font-size: 0.55rem;
                padding: .45rem .2rem;
                margin: .3rem 0.2rem;
            }
            @media (max-width: 1024.98px) {
                font-size: 0.5rem;
                padding: .45rem .25rem;
                margin: .3rem .15rem;
            }
            @media (max-width: 767.98px) {
                padding: .73rem .75rem;
                font-size: 0.9rem;
                margin: .4rem .2rem;
            }
            @media (max-width: 624.98px) {
                padding: .73rem .6rem;
                font-size: 0.7rem;
                margin: .4rem .2rem;
            }
            @media (max-width: 444.98px) {
                padding: .73rem .3rem;
                font-size: 0.5rem;
                margin: .4rem .2rem;
            }
            &.disabled{
                background-color: var(--color-basic);
                border: 1px solid var(--color-border);
            }
            &.active{
                color: $white;
                background-color: $theme-color;
            }
            &:hover{
                background-color: var(--bg-card-secondary);
                color: $font-secondary-light;
            }
        }
    }
}